{% extends "base.html" %} {% block title %} New Project {% endblock %} {% block content %}

<style>
  html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }

</style>

<div>
    <div class="row vh-100" style="overflow-x: hidden">
        <div class="d-flex flex-column justify-content-center col-4 text-center" style="background-color: #244c53">
            <h1 class="titulo-izquierda display-5 fw-bold " style="color: white">Nuevo Proyecto</h1>
        </div>

        <div class="col-8 container d-flex justify-content-center align-items-center" style="background-color: white">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %} {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
