{% extends "base.html" %}
{% block title %}
Project Detail
{% endblock %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <!-- Título principal -->
  <h1 class="display-5 fw-bold">Gestión de proyectos</h1>
  <div class="col-lg-6 mx-auto">
    <!-- Descripción del propósito -->
    <p class="lead mb-4">Revisa todos tus proyectos desde un solo lugar.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <!-- Comprueba si el usuario está autenticado -->
      {% if user.is_authenticated %}
      <!-- Si el usuario está autenticado, muestra un enlace al listado de proyectos -->
      <a href="/projects" style="background-color: #244c53;" class="btn text-white" role="button" aria-disabled="true">Listado de proyectos</a>
      {% else %}
      <!-- Si el usuario no está autenticado, muestra un enlace para iniciar sesión -->
      <a href="/accounts/login" style="background-color: #244c53;" class="btn text-white" role="button" aria-disabled="true">Log In</a>
      {% endif %}
    </div>
  </div>
  <div class="my-5">
    <!-- Imagen relacionada al gestor de proyectos (se encuentra en la carpeta static) -->
    {% load static %}
    <img src="{% static '../static/project_manager.png' %}" alt="" width="494px" height="383px">
  </div>
</div>
{% endblock %}
