{% extends "base.html" %}
{% block title %}
Project Listings
{% endblock %}
{% block content %}
<style>
  html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }

</style>

<div>
    <div class="row vh-100" style="overflow-x: hidden;">
        <div class="d-flex flex-column justify-content-center col-4 text-center" style="background-color: #244C53">
            <h1 class=" display-5 fw-bold" style="color: white;">Lista de proyectos</h1>

        </div>
        {% comment %} container grande {% endcomment %}

        <div class=" col-8 container d-flex justify-content-center align-items-start " style="background-color: white">
          <div class="container  d-flex text-center  justify-content-center">
            <div class="row align-items-center w-50" style="margin-top: 100px;">
              {% for project in projects %}
              <div class="card mb-4 box-shadow " style="background-color: #D9D9D9;">
                <a class="text-dark" href="{{project.get_absolute_url}}" style="text-decoration: none; margin-top: 10px;">
                <div class="col-sm">
                  <h2 style="font-size:18px;font-weight:bold">{{project.name}}</h2>
                </a>
                <p class="card-text" style="margin-bottom: 5px;">{{project.description}}</p>
                </div>
              </div>
              {% endfor %}
              <div class="position-absolute bottom-0 start-50 translate-middle-x mb-5">
              {% if perms.project.can_add_new_project  %}
              <a href="/project/new" class="btn  btn-lg px-4 gap-3" style="background-color: #244c53 ; color: white;" role="button" aria-disabled="true">Crear Proyecto</a>
              {% endif %}
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}