{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row vh-100">
  <div class="col d-flex flex-column justify-content-center align-items-center" style="background-color: #244C53">
      <h1 class="text-white align-self-center">Ingresa a tu cuenta</h1>
      <p class="margin-">Revisa todos tus proyectos desde un solo lugar</p>
  </div>


  <div class="col d-flex align-items-center">
    <div>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}