{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row vh-100">
  <div class="col-5 d-flex flex-column justify-content-center align-items-center" style="background-color: #244C53">
      <h1 class="text-white align-self-center" style="letter-spacing: 2px;">Ingresa a tu cuenta</h1>
      <p style="color: antiquewhite">Revisa todos tus proyectos desde un solo lugar</p>
  </div>


  <div class="col-7 d-flex align-items-center">
    <div>
      <form method="post" style="margin-left: 40px;">
        {% csrf_token %}
        <div class="form-group">
          <p style="padding-left: 5px;">Nombre de usuario:</p>
          <label for="{{ form.username.id_for_label }}"></label>
          {{ form.username }}
        </div>
        <p style="margin-top: 10px; padding-left: 5px;"">Contraseña:</p>
        <div class="form-group">
          <label for="{{ form.password.id_for_label }}"></label>
          {{ form.password }}
        </div> 
        <button type="submit" style="margin-top: 10px; margin-left: 3px; background-color: #244C53 !important;" class="btn text-white">Log In</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}